<!--텍스트 전송-->
<form hx-post="/sendText" hx-target="#sendTextResult" hx-swap="outerHTML" hx-indicator="#loadingSendText">
    <label for="sendTextBotAPI">봇 API</label>
    <label for="sendTextchatID">챗 ID</label>
    <input id="sendTextBotAPI" type="text" name="botAPI" value="{{botAPI}}">
    <input id="sendTextchatID" type="text" name="chatID" value="{{chatID}}">
    <label for="sendTextText">메세지 내용</label>
    <textarea id="sendTextText" name="text"rows="4"></textarea>
    <button type="submit">전송</button>
</form>
<div id="sendTextResult"></div>

<!--텍스트_inline 전송-->
<form hx-post="/sendTextWithInline" hx-target="#sendTextWithLinlineResult" hx-swap="outerHTML" hx-indicator="#loadingSendTextWithInline">
    <label for="sendTextWithInlineBotAPI">봇 API</label>
    <label for="sendTextWithInlinechatID">챗 ID</label>
    <input id="sendTextWithInlineBotAPI" type="text" name="botAPI" value="{{botAPI}}">
    <input id="sendTextWithInlinechatID" type="text" name="chatID" value="{{chatID}}">
    <label for="sendTextWithInlineText">메세지 내용</label>
    <textarea id="sendTextWithInlineText" name="text"rows="4"></textarea>
    <label for="sendTextWithInlineButtonText">버튼 텍스트</label>
    <label for="sendTextWithInlineCallback">전송 URL</label>
    <input id="sendTextWithInlineButtonText" type="text" name="buttonText">
    <input id="sendTextWithInlineCallback" type="text" name="callback">
    <button type="submit">전송</button>
</form>

<!--422 오류, 추후 재시도
<form hx-post="/sendImage" hx-target="#sendImageResult" hx-swap="innerHTML" hx-boost="true">
    <input type="text" name="botAPI" value="{{botAPI}}">
    <input type="text" name="chatID" value="{{chatID}}">
    <input type="file" name="sendImage" accept="image/*">
    <button type="submit">전송</button>
</form>
<div id="sendImageResult"></div>
-->