<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>telegramBot API</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <main class="grid grid-cols-6 gap-1 p-2 max-w-2xl mx-auto font-mono font-bold text-xl bg-gray-200">
        <form hx-post="/chatID" hx-target="#chatIDresult" hx-swap="innerHTML" hx-boost="true"
        class="col-start-1 col-end-7 tracking-wide">
            <input type="text" name="botAPI"
            class="rounded-lg outline outline-amber-600 w-96">
            <button type="submit"
            class="rounded-lg w-36 bg-red-300">ChatID 확인</button>
        </form>
        <div id="chatIDresult"
        class="col-start-1 col-end-7">--</div>
    </main>
</body>
</html>